@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.container {
    opacity: 0;
    width: 910px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom: 2px solid purple;
    margin: auto;
    margin-top: 10% !important;
}

.header {
    border-bottom: 1px solid purple;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
}
.content {
    width: 100%;
    height: 80%;
}
.weaponDiv {
    margin: 40px;
    display: inline-block;
}
button {
    width: 140px;
    border: none;
    padding: 5px;
    font-family: poppins;
    border-radius: 10px;
}
button:hover {
    background: purple;
    border: 2px solid black;
}